.profile-settings {
  width: 100%;
  display: flex;
}
.profile-settings-label {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}
.profile-settings-submit {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
