.add-article {
  width: 100%;
  display: flex;
}
.add-article-label {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}
.add-article-submit {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
